:root {
    --line-fill: #3498db;
    --line-empty: #383838;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    text-align: center;
    margin-top: 20%;
    
}

.progressContainer {
    display: flex;
    justify-content: space-between;
    width: 400px;
    position: relative;
    margin: 30px;
}

.progress {
    position: absolute;
    top: 30%;
    left: 0;
    transform: translateY(-50%);
    transition: 0.4s ease;
    background-color: var(--line-fill);
    z-index: -1;
    transition: 0.4s ease;
}

.number {
    display: flex;
    border-radius: 50%;
    background-color: #1f1f1f;
    color: #e2e2e2;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 5px solid var(--line-empty);
    transition: 0.4s ease;
}

.number.active {
    border-color: var(--line-fill);
}

.button {
    margin: 5px;
    cursor: pointer;
    background-color: var(--line-fill);
    color: #fff;
    border-radius: 5px;
    border: 0;
    padding: 5px 20px;
    font-size: 15px;
}

.button:active {
    transform: scale(0.98);
}

.button:focus {
    outline: 0;
}