body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    display: flex;
    border-radius: 50%;
    background-color: coral;
    align-items: center;
    justify-content: center;
}